<h1>Welcome to the Rosenbachweg!</h1>
<h2>How do I get access to the internet?</h2>
<p>If you are seeing this page it means that your computer is already correctly configured to access the internet. Please read the
	following closely to gain full access:
	<ol>
		<li>Fill out the form below and take care to enter a <strong>valid email adress</strong>!</li>
		<li>After your entries are accepted, you will gain access to web pages (i.e. Port 80) and e-mail servers (i.e. Ports 
			25, 110, 143). This means that web browsers like Firefox, Opera and e-mail clients like Outlook, Thunderbird
			will work while programs like Skype or World of Warcraft will not.</li>
		<li>You will then receive an e-mail which contains a link you will have to click in order to confirm your
			e-mail adress (alternatively you can use the included PIN and revisit this page). Upon confirmation of
			your e-mail adress you will gain full access to the internet.</li>
	</ol>
</p>
<h2>But I already did all this / How do I register a new computer?</h2>
<p>Please refer to the FAQ below the form.</p>
<h2>Please enter your information!</h2>
<p>Form</p>
<h2>FAQ</h2>
<ul>
	<li><strong>I already registered this computer! Why do I see this page again?</strong><br />
		Avast! This may be due to several reasons. For one, we delete computers which have been inactive for a longer period of time.
		Or it may be a simple clerical error. In both cases, simply enter your data again. Yarr ale guzzling addle brained gibbet dangler.</li>
	<li><strong>My old computer is broken and I got a new one!</strong><br />
		Simply enter your information into the form. When asked if you want replace or add a computer, choose the former option.</li>
	<li><strong>I want to add an additional computer</strong><br />
		Simply enter your information into the form. When asked if you want replace or add a computer, choose the latter option.
		Alternatively, simply visit this page from your already registered computer. This way you can add devices which do not
		possess a browser like routers or a gaming console.</li>
	<li><strong>Is there a limit to the types of programs I can use or a cap on my download?</strong><br />
		Currently there are almost no restrictions. However, your computer may be temporarily disconnected if you
		create problems for the other users. Examples of those problems are worms blasting our network, illegal downloads
		prompting letters from copyright holders or spider crawlers downloading complete web pages.<br />
		Thus it is imperative that you use an up-to-date virus scanner. However, you do not need a separate firewall - the builtin
		Windows Firewall is absolutely sufficient and 3rd party firewalls like ZoneAlarm are known to cause more problems than
		solve them.</li>
</ul>
