<h1>Aye, welcome t' th' Rosenbachweg, argh! </h1>
<h2>How do I get access t' th' internet?</h2>
<p>If ye be seein' this page 't means that yer computer be already correctly configured t' 
	access th' internet. Please read th' followin' closely t' gain full access:
	<ol>
		<li>Fill ou' th' form below an' take care t' enter a <strong>valid email adress</strong>! 
			Ya horn swollgin' swabbie!</li>
		<li>After yer entries be accepted, ye will gain access t' web pages (i.e. Port 80) an' e-mail servers (i.e. Ports 
			25, 110, 143). This means that web browsers like Firefox, Opera an' e-mail clients like Outlook, Thunderbird 
			will work while programs like Skype or World o' Warcraft will nay.
			Ya scurvy dog who ortin' t' be keel hauled!</li>
		<li>You will then receive an e-mail which contains a link ye will be havin' t' click in order t' confirm yer 
			e-mail adress (alternatively ye can use th' included PIN an' revisit this page). Upon confirmation o' 
			yer e-mail adress ye will gain full access t' th' internet.
			Ya scallywag!</li>
	</ol>
</p>
<h2>But I already did all this / How do I register a new computer?</h2>
<p>Please refer t' th' FAQ below th' form. Ya landlubber!</p>
<h2>Please enter yer information!</h2>
<p>Form</p>
<h2>FAQ</h2>
<ul>
	<li><strong>Avast! I already registered this computer! Why do I be seein' this page again?</strong><br />
		This may be due t' several reasons. Fer one, we delete computers which ben inactive fer a longer period o' time. 
		Or 't may be a simple clerical error. In both cases, simply enter yer data again. Arr!</li>
	<li><strong>My old computer be broken an' I got a new one!</strong><br />
		Simply enter yer information into th' form. When asked if ye want replace or add a computer, choose th' former option.
		 Yarr blistering hook handed beaten Frenchman.</li>
	<li><strong>I want to add an additional computer</strong><br />
		Simply enter yer information into th' form. When asked if ye want replace or add a computer, choose th' latter option.
		Alternatively, simply visit this page from yer already registered computer. This way ye can add devices which do nay 
		possess a browser like routers or a gamin' console. Yarr floundering barnacle bottomed boat hook.</li>
	<li><strong>Is thar a limit t' th' types o' programs I can use or a cap on me download?</strong><br />
		Currently thar be almost nay restrictions. However, yer computer may be temporarily disconnected if ye 
		create problems fer th' other users. Examples o' them problems be worms blastin' our network, illegal downloads 
		promptin' letters from copystarboard holders or spider crawlers downloadin' complete web pages.<br />
		Thus 'tis imperative that ye use an up-t'-date virus scanner. However, ye do nay need a separate firewall - th' builtin 
		Windows Firewall be absolutely a wee bit o' an' 3rd party firewalls like ZoneAlarm be known t' cause more problems than 
		solve them. Yarr villainous cat loving son of a sea cook.</li>
</ul>